@model IEnumerable<LIMS.Models.Nomencl>

    <select id="nomencl" name="Nomenclid" class="form-control" >
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>