@model LIMS.Models.Shipment
@using LIMS.Environment;

@{
    ViewData["Title"] = "Details";
}
@{
    string dataOfShipment = UnixTimeConverter.ConvertFromUnixTimestamp(Model.Suppdate).ToShortDateString();
}

<h1>Приходный документ № @Model.Id от @dataOfShipment</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Поставщик
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplyer.Name)
        </dd>
    </dl>
    @await Html.PartialAsync("_GetGoods", Model.Shipdocs)
</div>
<div>
    <a asp-controller="Shipdocs" asp-action="Create" asp-route-shipmentid="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад к перечню</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
